DATABASE_BASE= #sqlite3 or mysql sqlite3(.data.dn)

DATABASE_HOST= #database host
DATABASE_PORT= #database port
DATABASE_USER= #database username
DATABASE_PASS= #database password
DATABASE_DATA= #database database
